:host > * {
  margin-bottom: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-flex {
  display: flex;
}

.form-select {
  width: auto;
  display: inline-block;
  margin-right: 8px;
}
