<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{player.name}}</h5>
    <p class="card-text">{{player.email}}</p>
    <button class="btn btn-danger" (click)="logOut()">Logout</button>
  </div>
</div>

<div *ngIf="currentGame; else gamesContainer">
  <p>{{currentGame.id}}</p>
  <p>{{ currentGame.board }}</p>
</div>

<ng-template #gamesContainer>
  <div class="form-group">
    <select [(ngModel)]="gameMode" class="form-select-sm">
      <option selected [ngValue]=1> Play Against Computer </option>
      <option [ngValue]=0> Play Locally </option>
      <option [ngValue]=2> Play Against Friend </option>
      <option [ngValue]=3> Play Online Multiplayer </option>
    </select>
    <button (click)="startNewGame()">New Game</button>
  </div>

  <div class="games-container" *ngIf="allMyGames.length">
    <div *ngFor="let game of allMyGames">
      <p>{{ game.id }}</p>
      <p>{{ game.board }}</p>
      <p>{{ game.isComplete }}</p>
    </div>
  </div>
</ng-template>
