:host > * {
  margin-bottom: 10px;
}

.game-container {
  display: flex;
}

.game-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-game {
  display: flex;
}
